.artifacts__table {
  @include responsive-table;

  width: 100%;
  margin: 1em 0;

  td:last-of-type {
    text-align: right;
  }
}

.artifacts__tablecell-wide {
  width: 24em;
}

.artifacts__tablecell-short {
  width: 6em;
}
