.builder {
  &__heading {
    font-weight: 300;
    color: $builder-text-color;
    display: inline-block;
    margin-top: 0;
  }

  &__buttonbar {
    float: right;

    & button {
      display: inline-block;
    }
  }

  &__savebutton,
  &__deletebutton {
    @extend .primary-button;
  }

  &__canvas {
    min-height: 8em;
  }

  .react-tabs {
    [role=tablist] {
      background-color: $body-bg;
      margin: 0 0 1em;
      padding: 0;
      font-weight: 400;
    }

    [role=tab] {
      display: inline-block;
      list-style: none;
      padding: 0.5em 1em;
      cursor: pointer;
      margin-right: 0.25em;
      border-radius: $border-radius $border-radius 0 0;

      &[aria-selected=true] {
        background-color: $white;
      }

      &[aria-selected=false] {
        background-color: $blue;
        color: $white;

        &:focus,
        &:hover {
          background-color: $gray-dark;
        }
      }
    }

    [role=tabpanel] {
      padding: 1em;
    }
  }
}
