.builder {
  &__header {
    display: flex;
    align-items: center;
    padding: 1em;
  }

  &__heading {
    color: $white;
    flex: 1;
    margin: 0;
    padding-right: 1em;
    font-weight: $font-weight-regular;
  }

  &__buttonbar {
    .field {
      margin-bottom: 0;
      text-align: right;
    }
    [role=status] {
      color: $white;
      font-style: italic;
    }
  }

  .react-tabs {

    [role=tablist] {
      background-color: $body-bg;
      margin: 0;
      padding-left: 1em;
      font-weight: $font-weight-regular;
    }

    [role=tab] {
      display: inline-block;
      list-style: none;
      padding: 0.75em 1em;
      cursor: pointer;
      margin-right: 0.25em;
      border-radius: $border-radius $border-radius 0 0;

      &[aria-selected=true] {
        background-color: $white;
      }

      &[aria-selected=false] {
        background-color: $blue;
        color: $white;

        &:focus,
        &:hover {
          background-color: $gray-dark;
        }
      }
    }

    .tab-panel-container {
      padding: 1em;
    }
  }
}
