.conjunction-group {
  padding: 1em;
  background-color: $gray-lightest;
  border: $border-global;
  border-radius: $border-radius;

  &__header {
    display: flex;
    align-items: center;
    margin-bottom: 1em;
  }
  &__header-title {
    > .form__group {
      margin: 0;
    }
  }
  &__button-bar {
    margin-left: auto;
  }
  &__conjunction-select {
    width: 12em;
    margin-bottom: .5em;
  }

  &--odd {
    background-color: $gray-lighter;
  }

  // For nested conjunction-group's
  .conjunction-group {
    margin-left: 5em;
    margin-bottom: .5em;
  }
}
