.element {
  padding: 0.5em;
  background-color: $element-bg-color;
  border: $element-border;
  border-radius: $border-radius;
  color: $element-text-color;
  margin-bottom: 0.5em;
  font-weight: 500;

  &.element__expanded {
    padding: 0;
    background-color: $logic-element-bg-color;
    border: $logic-element-border;

    .element__header {
      display: flex;
      color: $logic-element-text-color;
      border-bottom: $logic-element-border;
      padding: 0.25em 0.75em;
      align-items: center;
      justify-content: center;

      .element__heading {
        flex: 1;
      }

      .element__buttonbar {
        flex: 1;
        text-align: right;

        .element__savebutton,
        .element__presetbutton,
        .element__hidebutton,
        .element__deletebutton {
          padding: 0.125em;
        }

        .element__presetbutton,
        .element__hidebutton,
        .element__deletebutton {
          @extend .transparent-button;
        }

        .element__savebutton {
          @extend .primary-button;
        }
      }
    }

    .element__body {
      padding: 0.5em 0.75em;
    }
  }

  &--button {
    display: flex;
    width: 100%;
    text-align: left;
    margin-left: 0;

    &:hover,
    &:focus {
      background-color: $logic-element-bg-color;
      border: $logic-element-border;
      color: $logic-element-text-color;
      cursor: pointer;
    }

    .fa-plus {
      margin-left: auto;
    }
  }
}
