.element {
  padding: 0.5em;
  background-color: $white;
  border: $border-global;
  border-radius: $border-radius;
  margin-bottom: 0.5em;
  font-weight: $font-weight-bold;

  &.element__expanded {
    padding: 0;

    .element__header {
      display: flex;
      border-bottom: $border-global;
      padding: 0.25em 0.75em;
      align-items: center;
      justify-content: center;

      .element__heading {
        flex: 1;
      }

      .element__buttonbar {
        flex: 1;
        text-align: right;
      }
    }

    .element__body {
      padding: 0.5em 0.75em;
    }
  }

  &--button {
    display: flex;
    width: 100%;
    text-align: left;
    margin-left: 0;

    &:hover,
    &:focus {
      border: $border-global;
      cursor: pointer;
    }

    .fa-plus {
      margin-left: auto;
    }
  }
}

.modifier__list {
  .modifier {
    display: flex;
    align-items: center;
    height: 2.5em;

    > div { flex-grow: 1 }

    .modifier__deletebutton {
      text-align: right;
    }
  }
}

.modifier__selection {
  border-top: $border-global;
  margin-top: 0.5em;
  padding-top: 0.5em;

  .modifier__addbutton {
    @extend .primary-button;
  }
}

.modifier__return__type {
  color: $gray;
}

.modifier__comparison__value {
  width: 5em;
}
