.navbar {
  background-color: $navbar-bg-color;
  padding: 0;

  // ----------------------- MAIN NAVIGATION ------------------------------- //
  &__nav {
    display: block;
    padding: 0 20px 10px 20px;

    li {
      display: block;
      margin-right: 15px;
      position: relative;
      float: left;
    }

    a {
      position: relative;
      display: block;
      line-height: 20px;
      color: $navbar-link-color;
      border-radius: 5px;
      padding: 10px;
      font-size: 1.1em;

      &:hover {
        text-decoration: none;
      }

      &:hover,
      &.active {
        background-color: $navbar-link-active-color;
      }
    }
  }
}
