.navbar {
  background-color: $navbar-bg-color;
  color: $navbar-link-color;
  padding: 0.5em 2em 0;
  font-weight: 400;

  &__logo {
    color: $navbar-link-color;
    font-weight: 700;
    text-decoration: none;

    &:hover,
    &:focus {
      color: $gray-light;
    }
  }

  &__nav {
    @include navigation(true);

    display: inline-block;
    margin: 0.5em 1em 0.75em 2em;
  }

  &__nav-secondary {
    @include navigation(true);

    display: inline-block;
    margin: 0.5em 1em 0.75em 2em;
    float: right;
  }

  nav a:hover,
  nav a:focus,
  nav a.active {
    background-color: darken($navbar-bg-color, 10%);
  }
}
