.navbar {
  background-color: $navbar-bg-color;
  color: $navbar-link-color;
  padding: 0.5em 2em 0;

  &__logo { font-weight: 700; }

  &__nav {
    @include navigation(true);
    display: inline-block;
    margin: 0.5em 1em 0.5em 2em;

    a:hover, a.active {
      background-color: darken($navbar-bg-color, 10%);
    }
  }
}
