.parameter__header {
  background-color: $gray-lighter;
  border: 1px solid $gray;
  border-radius: .2em;
  margin-bottom: 1em;
}

.parameter__content {
  margin-left: 1em;
  margin-right: 1em;
  margin-bottom: .5em;
}

.new-parameter {
  margin-bottom: 1em;
}