.recommendation {
  background: $gray-lightest;
  border: 1px $gray-lighter solid;
  padding: 1em;
  margin-bottom: 1em;

  label {
    font-weight: 300;
  }
}

.recommendations {
  &__mode {
    margin: 0 0.5em;
    top: -0.375em;
    position: relative;
  }
}
