.recommendation {
  background: $gray-lightest;
  border: $border-global;
  border-radius: $border-radius;
  padding: 1em;
  margin-bottom: 1em;

  label {
    font-weight: $font-weight-regular;
  }

  &__subpopulations {
    margin-bottom: 1em;
  }

  &__subpopulation-pill {
    display: flex;
    align-items: center;
    margin-bottom: 1em;
    padding: .5em;
    background-color: $gray-lighter;
    border: $border-global;
    border-radius: $border-radius;

    button {
      margin-left: auto;
    }
  }

  &__add-subpopulation {
    display: flex;
    align-items: center;

    a {
      margin-left: 1em;
    }
  }

  &__subpopulation-select {
    flex: 1;
  }

  &__new-subpopulation {
    cursor: pointer;
  }
}

.recommendations {
  &__mode {
    margin: 0 0.5em;
    top: -0.375em;
    position: relative;
  }
}

.parameter__header {
  background-color: $gray-lighter;
  border: 1px solid $gray;
  border-radius: .2em;
  margin-bottom: 1em;
}

.parameter__content {
  margin-left: 1em;
  margin-right: 1em;
  margin-bottom: .5em;
}
