.subpopulation {
  background-color: $gray-lighter;
  border: $border-global;
  border-radius: $border-radius;

  &:not(:last-child) {
    margin-bottom: 1em;
  }

  &__header {
    display: flex;
    align-items: center;
    padding: .5em;
    cursor: pointer;

    .button-bar {
      margin-left: auto;
    }
  }

  &__title {
    display: flex;
    align-items: center;

    h3 {
      margin: 0 0 0 .5em;
    }
  }

  &__name-input {
    margin-left: .5em;
    cursor: default;
  }

  &__logic {
    > .conjunction-group {
      border-top-left-radius: 0;
      border-top-right-radius: 0;
      border: none;
    }
  }
}
