.builder {
  &-wrapper { @include componentWidth; }

  padding: $global-padding;
  padding-bottom: 0;
  background-color: $blue-darkest;

  &__header {
    display: flex;
    align-items: center;
    padding: 1em 0;

    button {
      margin-right: 10px;
      vertical-align: middle;
    }
  }

  &__heading {
    color: $white;
    flex: 1;
    margin: 0;
    padding-right: 1em;
    font-weight: $font-weight-regular;
  }

  &__canvas {
    margin: 0 -9999rem;
    padding: 0 9999rem;
    background: $white;
    min-height: 500px;
  }

  &__buttonbar {
    &-menu {
      margin-bottom: 5px;
      text-align: right;
    }

    [role=status] {
      height: 30px;
      color: $white;
      font-style: italic;
      text-align: right;
    }

    button {
      margin: 0 0 0 20px;

      .icon {
        padding-right: 10px;
      }
    }
  }

  .react-tabs {
    [role=tablist] {
      margin: 0 -9999rem;
      padding: 0 9999rem;
      background: $blue-darkest;
      font-weight: $font-weight-regular;
    }

    [role=tab] {
      display: inline-block;
      list-style: none;
      padding: 0.75em 1em;
      cursor: pointer;
      margin-right: 0.25em;
      border-radius: $border-radius $border-radius 0 0;

      &[aria-selected=true] {
        background-color: $white;
      }

      &[aria-selected=false] {
        background-color: $blue;
        color: $white;

        &:focus,
        &:hover {
          background-color: $gray-dark;
        }
      }
    }

    .tab-panel-container {
      padding: 2em 0;
      background-color: $white;
    }
  }

  .Select-input input {
    border: 0;
    box-shadow: none;
    padding: 8px 0 12px;
    margin: 0;
  }
}
