.element-modal__container .element-modal__search {
  padding: 1em 2em;
  margin: 0;
  display: flex;
  justify-content: space-between;

  input { margin-right: 10px; }
  button { margin-left: 10px; }

  &-system {
    margin: 0 2px 0 0;
    width: calc(120px + 10vw);

    .Select-input input {
      border: 0;
      box-shadow: none;
      padding-left: 0;
    }
  }

  &-other-system {
    margin-top: 5px;
    width: calc(120px + 10vw);
  }
}

.code-display {
  display: flex;
  margin: 2em;

  &__code,
  &__system-name {
    flex: 1;
  }

  &__display {
    flex: 5;
  }
}
