.element-modal__container .element-modal__search {
  padding: 1em 2em;

  &-system {
    margin: 0;

    .Select-input input {
      border: 0;
      box-shadow: none;
      padding-left: 0;
    }
  }

  &-other-system {
    margin-top: 5px;
    max-width: 316px;
  }
}

.code-display {
  display: flex;
  margin: 2em;

  &__code,
  &__system-name {
    flex: 1;
  }

  &__display {
    flex: 5;
  }
}
