.conjunction-group {
  &__section {
    background-color: $gray-lightest;
    border: $border-global;
    border-radius: $border-radius;
    padding: 1em;
  }

  .element.element__expanded {
    background-color: $gray-lightest;
  }

  &__header {
    display: flex;
    align-items: center;
    margin-bottom: 1em;
  }

  &__header-title {
    > .form__group {
      margin: 0;
    }
  }

  &__button-bar,
  .element__buttonbar {
    margin-left: auto;

    button {
      border: $border-global;
      border-radius: $border-radius;

      &:hover {
        border-color: $secondary-button-border-hover-color;
      }
    }
  }

  &__conjunction-select {
    width: 12em;
    margin: 20px 0;
  }

  // For nested conjunction-group's
  .conjunction-group {
    margin-left: 3em;
    padding: 1em 1.5em;
    border: $border-global;
    border-radius: $border-radius;

    &--top { margin-left: 0; }
    &--odd { background-color: darken($gray-lightest, 3%); }
    &--even { background-color: $white; }
  }

  .delete-code-button,
  .delete-valueset-button,
  .fa-eye {
    margin-left: 10px;
    cursor: pointer;
  }

  .delete-code-button {
    margin-left: 50px;
  }
}
