.editors {
  margin: 10px 0;
  padding-left: 1em;
  border-left: 4px solid $gray-lighter;
}

.editor {
  &-label {
    font-weight: bold;
    white-space: nowrap;
    margin: 10px 0;
  }

  &-inputs {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
  }

  .code-editor {
    &-container {
      position: relative;
      width: 100%;
      padding: 2em;

      .close-button {
        position: absolute;
        right: 10px;
        top: 10px;
      }
    }

    &-element {
      display: flex;

      &-label {
        flex: 1;
        font-weight: bold;
      }

      &-value {
        flex: 3;
      }
    }

    &-footer {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      margin-top: 1em;
    }
  }

  &.date-time-editor,
  &.time-editor,
  &.interval-of-date-time-editor {
    .field-input {
      margin: 0 10px 10px 0;
    }

    .MuiIconButton-root {
      padding: 20px 5px;
    }
  }
}
