.element {
  padding: 0.5em;
  background-color: $white;
  border: $border-global;
  border-radius: $border-radius;
  font-weight: $font-weight-bold;

  &.element__expanded {
    padding: 0;

    .element__header {
      display: flex;
      border-bottom: $border-global;
      padding: 1em 2em;
      align-items: center;
      justify-content: center;

      .element__heading {
        flex: 1;
      }

      .element__buttonbar {
        flex: 1;
        text-align: right;
      }
    }

    .element__body {
      padding: 1em 2em;
    }
  }

  &--button {
    display: flex;
    width: 100%;
    text-align: left;
    margin-left: 0;

    &:hover,
    &:focus {
      border: $border-global;
      cursor: pointer;
    }

    .fa-plus {
      margin-left: auto;
    }
  }

  .view-edit-vs {
    margin-left: 0.5em;
  }
}

.modifier__list {
  .modifier {
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    > div { flex-grow: 1; }

    &__deletebutton { text-align: right; }

    > .warning {
      flex-basis: 100%;
      margin-top: 10px;
    }

    .ucum-unit,
    .with-unit-ucum {
      width: 200px;
      background-size: 15px;
    }
  }
}

.modifier__selection {
  .modifier__addbutton {
    margin-bottom: 10px;

    @extend .primary-button;
  }
}

.modifier__return__type {
  .vs-info,
  .code-info {
    display: flex;
    align-items: center;

    &__label,
    &__info {
      padding: 15px 0;
    }

    &__label {
      flex: 1;
      padding-right: 2em;
    }

    &__info {
      display: flex;
      align-items: center;
      flex: 4;
      border-bottom: 1px solid lighten($gray-light, 15%);
      margin-left: 0;
    }

    &__text {
      flex: 4;
      padding: 0;
    }

    &__buttons {
      flex: 1;
    }
  }
}

.return-type {
  display: flex;
  align-items: center;
  padding: 15px 0;

  &__label {
    flex: 1;
    padding-right: 2em;
  }

  &__value {
    flex: 4;
  }

  .check { margin-right: 5px; }
}

.applied-modifiers {
  &__info-expressions {
    display: flex;
  }

  &__label {
    flex: 1;
    padding-right: 2em;
    padding-top: 15px;
  }

  .modifier__list {
    flex: 4;
  }

  .modifier {
    border-bottom: 1px solid lighten($gray-light, 15%);
    padding: 15px 0;

    .modifier__info {
      display: flex;
      flex-wrap: nowrap;
      align-items: center;
      justify-content: space-between;
    }

    .look-back,
    .value-comparison-observation {
      display: flex;
      flex-wrap: wrap;

      label {
        margin: 0 10px 0 0;
      }
    }

    .value-comparison-observation label input {
      min-width: inherit;
      width: calc(80px + 4vw);
      max-width: 180px;
    }

    .Select {
      min-width: 300px;
    }
  }
}

.modifier__button { margin-left: 10px; }

.modifier__comparison__value { width: 6em; }

.vsac-authentication .blank {
  min-width: 170px;
  display: inline-block;
}

#vsac-controls {
  > span {
    margin-left: 20px;
  }
}
