.element-select {
  margin: 1em;

  &__modal {
    display: inline-flex;
  }

  &__label {
    min-width: 160px;

    .fa {
      padding-right: 10px;
    }
  }

  &__dropdown {
    flex: 1;
    margin: 0.5em;
  }

  &__external-cql-field {
    margin-top: 10px;
    min-width: stretch;
  }

  &__category-field {
    flex: 0 0 10em;
    margin-left: 0.5em;
  }

  &__option-category {
    margin-left: 0.5em;
    color: $gray;

    &.is-disabled {
      color: #ccc;
    }
  }

  &__option-icon {
    margin-right: 0.5em;
  }

  &__add-element {
    display: flex;
    align-items: center;
    flex: 0 0 100%;
    margin: 10px 20px;
  }
}

.element-modal {
  &__search-container {
    display: flex;
    align-items: center;
    background-color: $gray-lightest;
    border-bottom: $border-global;
    padding: 1em 2em;

    .nav-icon {
      margin-right: 1em;
      cursor: pointer;
    }
  }

  &__search {
    display: flex;
    width: 100%;

    button {
      margin-left: 20px;
    }
  }

  &__content {
    min-height: 300px;

    .search__table {
      @include responsive-table;

      width: 100%;

      th,
      td {
        padding: 0.5em;
      }

      .result-oid {
        font-size: 0.8em;
        color: darken($gray-light, 5%);
      }

      &.selectable {
        tbody tr {
          cursor: pointer;

          &:hover,
          &:focus,
          &:active {
            background-color: $gray-blue;
          }
        }
      }
    }
  }
}
