.element {
  padding: 0.5em;
  background-color: $white;
  border: $border-global;
  border-radius: $border-radius;
  font-weight: $font-weight-bold;

  select {
    background-color: $white;
    box-shadow: inset 0 1px 2px 0 rgba(21, 21, 21, 0.1);
    border: 0.1em solid lightgray;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding: 0.4em 0.75em;
    border-radius: 0.2em;
    font-size: 1rem;

    label { margin: 0 20px; }

    &.operator {
      width: 65px;
      margin-right: 20px;
    }
  }

  &.element__expanded {
    padding: 0;

    .element__header {
      display: flex;
      border-bottom: $border-global;
      padding: 1em 2em;
      align-items: center;
      justify-content: center;

      .element__heading {
        flex: 1;
      }

      .element__buttonbar {
        flex: 1;
        text-align: right;
      }
    }

    .element__body {
      padding: 1em 2em;
    }
  }

  &--button {
    display: flex;
    width: 100%;
    text-align: left;
    margin-left: 0;

    &:hover,
    &:focus {
      border: $border-global;
      cursor: pointer;
    }

    .fa-plus {
      margin-left: auto;
    }
  }

  .bold {
    font-weight: bold;
  }

  .view-edit-vs {
    margin-left: 0.5em;
  }
}

.modifier__list {
  .modifier {
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    > div { flex-grow: 1; }

    &__deletebutton { text-align: right; }

    > .warning {
      flex-basis: 100%;
      margin-top: 10px;
    }

    input { margin: 0 10px; }

    #ucum-unit {
      width: 200px;
      background-size: 15px;
    }

    label { margin-bottom: 0; }
  }
}

.modifier__selection {
  border-top: $border-global;
  padding: 1em 0;
  margin-top: 20px;

  .modifier__addbutton {
    @extend .primary-button;
  }
}

.modifier__return__type {
  .vs-info,
  .code-info {
    &__label,
    &__info {
      padding: 15px 0;
    }

    &__label { padding-right: 2em; }

    &__info {
      border-bottom: 1px solid lighten($gray-light, 15%);

      div { padding: 0; }
    }
  }
}

.return-type {
  padding: 15px 0;

  &__label { padding-right: 2em; }

  &__value { margin-left: -30px; }

  .check { margin-right: 5px; }
}

.applied-modifiers {
  &__label { padding: 15px 2em 15px 0; }

  .modifier__list {
    padding: 0;
    margin-left: -15px;
  }

  .modifier {
    border-bottom: 1px solid lighten($gray-light, 15%);
    padding: 15px 0;

    .look-back {
      label {
        margin: 0;

        input,
        .field {
          margin: 0 20px;
        }
      }
    }
  }
}

.modifier__button { margin-left: 10px; }

.modifier__comparison__value { width: 5em; }

.vsac-authentication .blank {
  min-width: 170px;
  display: inline-block;
}

.bold { text-align: right; }

#vsac-controls {
  > span {
    margin-left: 20px;
  }
}

.align-right { text-align: right; }
