.element-select {
  display: flex;
  align-items: center;
  margin: 20px;

  &__label {
    min-width: 160px;

    .fa {
      padding-right: 10px;
    }
  }

  &__element-field {
    flex: 1;
  }

  &__category-field {
    flex: 0 0 10em;
    margin-left: 0.5em;
  }

  &__option-category {
    margin-left: 0.5em;
    color: $gray;
  }

  &__modal {
    margin-left: 0.5em;
  }
}

.element-modal {
  .modal__header,
  .modal__footer {
    padding: 1em;
  }

  .modal__body {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 0;
    border-bottom: $border-global;
    overflow: hidden;
  }

  .modal__footer {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
  
  .tr__selectable {
    &:hover,
    &:focus,
    &:active {
      background-color: $blue;
      color: $white;
    }
  }
  
  .td__right-align {
    text-align: right;
  }

  &__container {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  &__content {
    display: flex;
    flex: 1;
    overflow: auto;
    padding: 2em;
  }

  &__sidebar {
    flex: 0 0 12em;
    padding: 1em;
    overflow-y: auto;

    .transparent-button {
      display: block;
      width: 100%;
      margin-left: 0;
      margin-bottom: 0.1em;
      padding: 0.35em;
      text-align: left;
    }

    .selected {
      background-color: $gray-lighter;
    }
  }

  &__list {
    flex: 1;
    padding: 1em;
    overflow-y: auto;
  }

  &__search {
    padding: 1em;
    background-color: $gray-lightest;
    border-bottom: $border-global;
    display: flex;

    input {
      width: 100%;
    }
  }

  .element-select__option {
    display: block;
    margin-bottom: 0.5em;
    margin-left: 0;
    padding: 0.35em;

    .button-style {
      display: inline-block;
      padding: 0.2em;
      margin-right: 0.5em;
    }
  }
}

button.vsac-authenticate {
  margin-left: 180px;
}
