.element {
  padding: 0.5em;
  background-color: $white;
  border: $border-global;
  border-radius: $border-radius;
  font-weight: $font-weight-bold;

  &.element__expanded {
    padding: 0;

    .element__header {
      display: flex;
      border-bottom: $border-global;
      padding: 1em 2em;
      align-items: center;
      justify-content: center;

      .element__heading {
        flex: 1;
      }

      .element__buttonbar {
        flex: 1;
        text-align: right;
      }
    }

    .element__body {
      padding: 1em 2em;
    }
  }
}

.vsac-authenticate,
#vsac-controls {
  display: flex;

  button {
    margin-right: 10px;
  }
}

.element-field {
  display: flex;

  &-label {
    font-weight: bold;
    min-width: 12.5em;
    padding: 20px 1em 0 0;
    text-align: right;
    white-space: nowrap;
  }

  &-details-group {
    width: 100%;
  }

  &-details {
    border-bottom: 1px solid lighten($gray-light, 15%);
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    width: 100%;

    &.return-type {
      border: 0;
      padding: 20px 0;
    }
  }

  &-display {
    width: 100%;
    padding: 10px 0;
  }

  &-buttons {
    display: flex;
    align-items: flex-start;
    white-space: nowrap;
  }
}
