@use "sass:color";

.element {
  padding: 0.5em;
  background-color: $white;
  border: $border-global;
  border-radius: $border-radius;
  font-weight: $font-weight-bold;

  &.element__expanded {
    padding: 0;

    .element__header {
      display: flex;
      border-bottom: $border-global;
      padding: 1em 2em;
      align-items: center;
      justify-content: center;

      .element__heading {
        flex: 1;
      }

      .element__buttonbar {
        flex: 1;
        text-align: right;
      }
    }

    .element__body {
      padding: 1em 2em;
    }
  }
}

.element-field {
  display: flex;

  &-label {
    font-weight: bold;
    margin-top: 5px;
    min-width: 12.5em;
    padding-right: 1em;
    text-align: right;
    white-space: nowrap;
  }

  &-details-group {
    width: 100%;
  }

  &-details {
    border-bottom: 1px solid color.adjust($gray-light, $lightness: 15%);
    display: flex;
    justify-content: space-between;
    width: 100%;

    &.return-type {
      border: 0;
      padding: 20px 0;
    }
  }

  &-display {
    display: flex;
    align-items: center;
    width: 100%;
  }

  &-display-group {
    width: 100%;
  }

  &-buttons {
    display: flex;
    align-items: flex-start;
    white-space: nowrap;
  }
}
