.field {
  display: flex;
  align-items: center;
  margin: 10px 0;
  width: 100%;

  .field-groups {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .field-group {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;

    .helper-text {
      font-size: 0.7em;
      color: $gray;
    }

    &-container {
      position: relative;
      width: 100%;
      padding: 2em;

      .close-button {
        position: absolute;
        right: 10px;
        top: 10px;
      }
    }

    &-button {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      width: 100%;
      margin-top: 10px;
    }
  }

  .field-label {
    font-weight: bold;
    white-space: nowrap;
    padding-right: 1em;
    min-width: 12.5em;
    text-align: right;
  }
}

div.field-input {
  margin-right: 10px;

  @include respond-to("handheld") {
    margin: 5px 5px 5px 0;
  }

  &.field-input-sm {
    min-width: 100px;
    max-width: 150px;
  }

  &.field-input-md {
    min-width: 200px;
    max-width: 250px;
  }

  &.field-input-lg {
    min-width: 300px;
    max-width: 350px;
  }

  &.field-input-xl {
    min-width: 400px;
    max-width: 450px;
  }

  &.field-input-full-width {
    width: 100%;
  }

  .helper-text {
    font-size: 0.7em;
    color: $gray;
  }
}
