.modifier {
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  &.date-time-precision-modifier,
  &.time-precision-modifier,
  &.date-time-modifier {
    .field-input {
      margin: 0 10px 10px 0;
    }

    .MuiIconButton-root {
      padding: 20px 5px;
    }
  }
}

.modifier-group {
  width: 100%;
}

.modifier-select button {
  margin: 0 10px 10px 0;
}

button.modifier-select-button {
  text-transform: none;

  svg {
    margin-right: 10px;
  }
}

.modifier-text {
  margin-right: 10px;
}

.modifier-button {
  margin: 10px 0;
}

.modifier-Qualifier .element-field-buttons {
  margin-top: 10px;
}
