.qualifier {
  display: flex;
  align-items: center;
  width: 100%;
  flex-wrap: wrap;

  .Select {
    margin-right: 20px;
  }

  .selected-qualifier {
    padding: 5px 0;
  }

  .vs-info__buttons {
    padding-right: 0;

    #open-modal-button {
      @include respond-to('1439px') { margin-right: -5px; }
    }
  }
}

.modifier-vert-aligned {
  display: flex;
  align-items: center;
}

.modifier-label {
  padding-right: 5px;
}

.modifier-select {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.modifier-dropdown {
  width: 300px;
}

.modifier-dropdown-short {
  width: 120px;

  @include respond-to('1439px') {
    width: 90px;
  }
}

.modifier-dropdown-wide {
  width: 600px;
}

.modifier-input {
  margin: 0 10px;
}

.look-back {
  display: flex;
  align-items: center;
}

label.modifier-title {
  margin-bottom: 10px;
}

.modifier-editor-group {
  padding-left: 1em;
  border-left: 4px solid $gray-lighter;
}

.applied-modifiers .modifier .value-comparison-observation {
  @include respond-to('handheld') {
    display: block;

    .modifier-input {
      margin: 10px 0;
    }
  }
}
