.parameters {
  .parameter {
    margin: 1em 0;

    .editor {
      display: flex;
      flex-wrap: wrap;

      &-label {
        font-weight: bold;
        white-space: nowrap;
        padding-right: 1em;
        margin-top: 10px;
        min-width: 12.5em;
        text-align: right;
      }

      &-inputs {
        width: 70%;
      }

      &-warnings {
        width: 100%;
        margin-left: 12.5em;
      }

      &.interval-of-date-time-editor {
        .editor-inputs {
          max-width: 640px;

          @include respond-to('handheld') {
            max-width: 480px;
          }
        }
      }
    }
  }
}
