.parameter__header {
  background-color: $gray-lightest;
  border: $border-global;
  border-radius: $border-radius;

  &:not(:last-child) {
    margin-bottom: 1em;
  }

  > .form__group {
    margin: 0;
  }
}

.parameter__content {
  padding: 1em;

  .form__group {
    margin: 0 0 1em;
  }
}

.string-parameter,
.number-parameter,
.value-set-parameter {
  margin: 10px 0;

  label {
    display: flex;
    align-items: center;
  }

  .label {
    display: inline-block;
    min-width: 160px;
  }

  .Select {
    margin-left: 10px;
    min-width: 245px;
  }

  input {
    min-width: 300px;
  }
}

.value-set-parameter .Select {
  display: inline-block;
}
