// ------------------------- EDITORS --------------------------------------- //

.parameter {
  &__item {
    align-items: center;
    margin-bottom: 1em;
  }

  .card-element {
    margin-bottom: 1em;
  }

  .react-datepicker__navigation {
    height: 5px;
    box-shadow: none;

    &:hover {
      background-color: $datepicker-bg;
    }

    &--previous:hover {
      border-color: $datepicker-bg $blue $datepicker-bg $datepicker-bg;
    }

    &--next:hover {
      border-color: $datepicker-bg $datepicker-bg $datepicker-bg $blue;
    }
  }

  .dash { margin: 0 5px; }

  .quantity-unit-ucum,
  .interval-of-quantity-unit-ucum {
    width: 200px;
    background-size: 15px;
  }

  .rc-time-picker-input { color: initial; }
}

// ------------------------- TYPES ----------------------------------------- //

.string-field,
.number-field,
.textarea-field,
.value-set-field {
  margin: 10px 0;

  label {
    display: flex;
    align-items: center;
  }

  .label {
    flex: 1;
    font-weight: bold;
    text-align: right;
    padding-right: 2em;
    white-space: nowrap;
  }

  .Select {
    min-width: 245px;
    padding: 0;
  }

  input {
    margin: 0;
    min-width: 300px;
  }

  .input {
    flex: 4;
  }

  .icon {
    padding: 10px;
  }
}

.textarea-field {
  margin-bottom: -5px;

  textarea {
    width: 100%;
    max-width: 100%;
    padding: 10px 0.75em;
    height: auto;
  }
}

.value-set-field .Select {
  display: inline-block;
}
