.recommendations {
  &__deliver-text {
    margin-bottom: 1em;
  }
}

.recommendation {
  margin-bottom: 1em;

  .card-element__label {
    display: flex;
    justify-content: space-between;
  }

  &__subpopulation-pill {
    display: flex;
    align-items: center;
    margin: 0.5em 0;
    padding: 0.5em;
    background-color: $body-bg;
    border: $border-global;
    border-radius: $border-radius;

    button {
      margin-left: auto;
    }
  }

  &__add-subpopulation {
    display: flex;
    align-items: center;
    flex: 0 0 100%;
    margin-bottom: 2em;

    > div { flex: 1; }

    button {
      margin-left: 10px;
    }
  }

  &__title {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__buttons button {
    margin-right: 10px;
  }

  .card-element {
    padding: 1em 2em;
  }
}

div.recommendation-input {
  margin-bottom: 20px;
}
