.repo-login-form {
  display: flex;
  flex-direction: column;

  &__input {
    margin: 20px 0;
  }
}

.repo-login-form,
.repo-upload-error-message {
  margin-bottom: 0;
}

.repo-list .buttonbar {
  text-align: right;
}
