.subpopulation {
  margin-bottom: 1em;

  .card-element__body:last-child .card-element {
    background-color: $body-bg;

    &.base-element {
      background-color: lighten($blue-light, 35%);
    }
  }

  .subpopulation-title {
    display: flex;
    align-items: center;

    h4 {
      padding: 0 10px;
      margin: 0;
    }
  }
}
