{
  "extends": "stylelint-config-standard",
  "rules": {
    "at-rule-no-unknown": [
      true,
      {
        "ignoreAtRules": ["include", "mixin", "if", "else", "extend"]
      }
    ],
    "no-descending-specificity": null,
    "block-closing-brace-newline-after": [
      "always",
      {
        "ignoreAtRules": ["if", "else"]
      }
    ],
    "at-rule-empty-line-before": null
  }
}