version: '3'
services:
  cat:
    build: .
    environment:
      MONGO_URL: mongodb://cat-mongo/cds_authoring
      CQL_TO_ELM_URL: http://cat-cql2elm:8080/cql/translator
      NODE_ENV: development
    ports:
    - "3001:3001"
    - "9000:9000"
    links:
    - cat-mongo
    - cat-cql2elm
  cat-mongo:
    image: mongo:3.4
  cat-cql2elm:
    image: cqframework/cql-translation-service:v1.3.15
