/* ------------------------- IMPORT VARIABLES ------------------------------ */
@import "elements/variables";

/* ------------------------- IMPORT 3RD PARTY VENDORS ---------------------- */
@import "node_modules/bootstrap/scss/bootstrap.scss";
@import "node_modules/bourbon/app/assets/stylesheets/bourbon";

/* ------------------------- IMPORT CUSTOM SCSS ---------------------------- */
// site-wide elements
@import 'elements/dropdowns';
@import 'elements/mixins';
@import 'elements/typography';
@import 'elements/base';
@import 'elements/forms';
@import 'elements/buttons';
@import 'elements/modals';
@import 'elements/accessibility';
@import 'elements/effects';

// component-specific
@import 'components/Header';
@import 'components/Navbar';
@import 'components/Landing';
@import 'components/UserGuide';
@import 'components/Footer';
@import 'components/NotFoundPage';
@import 'components/NotLoggedInPage';
@import 'components/builder/Builder';
@import 'components/builder/Element';
@import 'components/artifact/Artifact';
@import 'components/builder/ConjunctionGroup';
@import 'components/builder/ElementSelect';
@import 'components/builder/Recommendation';
@import 'components/builder/Subpopulations';
@import 'components/builder/Parameters';
@import 'components/builder/RepoUploadModal';
@import 'components/auth/Login';
@import 'components/auth/Logout';

// vendors
@import "vendors/bootstrap";
@import "vendors/addthis";

/* ------------------------- FONTS ----------------------------------------- */
@font-face {
  font-family: 'Code-Pro';
  src: url("../../public/assets/fonts/233341_0_0.eot");
  src: url("../../public/assets/fonts/233341_0_0.eot?#iefix") format("embedded-opentype"),
  url("../../public/assets/fonts/233341_0_0.woff") format("woff"),
  url("../../public/assets/fonts/233341_0_0.ttf") format("truetype");
}

@font-face {
  font-family: 'Code-Pro-LC';
  src: url("../../public/assets/fonts/235257_0_0.eot");
  src: url("../../public/assets/fonts/235257_0_0.eot?#iefix") format("embedded-opentype"),
  url("../../public/assets/fonts/235257_0_0.woff") format("woff"),
  url("../../public/assets/fonts/235257_0_0.ttf") format("truetype");
}

@font-face {
  font-family: 'CartoGothicStdBook';
  src: url("../../public/assets/fonts/CartoGothicStd-Book-webfont.eot");
  src: url("../../public/assets/fonts/CartoGothicStd-Book-webfont.eot?#iefix") format("embedded-opentype"),
  url("../../public/assets/fonts/CartoGothicStd-Book-webfont.woff") format("woff"),
  url("../../public/assets/fonts/CartoGothicStd-Book-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'CartoGothicStdItalic';
  src: url("../../public/assets/fonts/CartoGothicStd-Italic-webfont.eot");
  src: url("../../public/assets/fonts/CartoGothicStd-Italic-webfont.eot?#iefix") format("embedded-opentype"),
  url("../../public/assets/fonts/CartoGothicStd-Italic-webfont.woff") format("woff"),
  url("../../public/assets/fonts/CartoGothicStd-Italic-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'CartoGothicStdBold';
  src: url("../../public/assets/fonts/CartoGothicStd-Bold-webfont.eot");
  src: url("../../public/assets/fonts/CartoGothicStd-Bold-webfont.eot?#iefix") format("embedded-opentype"),
  url("../../public/assets/fonts/CartoGothicStd-Bold-webfont.woff") format("woff"),
  url("../../public/assets/fonts/CartoGothicStd-Bold-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'CartoGothicStdBoldItalic';
  src: url("../../public/assets/fonts/CartoGothicStd-BoldItalic-webfont.eot");
  src: url("../../public/assets/fonts/CartoGothicStd-BoldItalic-webfont.eot?#iefix") format("embedded-opentype"),
  url("../../public/assets/fonts/CartoGothicStd-BoldItalic-webfont.woff") format("woff"),
  url("../../public/assets/fonts/CartoGothicStd-BoldItalic-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
