/* ------------------------- IMPORT VARIABLES ------------------------------ */
@import "elements/variables";

/* ------------------------- IMPORT 3RD PARTY VENDORS ---------------------- */
@import "node_modules/bootstrap/scss/bootstrap.scss";
@import "node_modules/bourbon/app/assets/stylesheets/bourbon";
@import 'node_modules/tocbot/src/scss/tocbot-core';
@import 'node_modules/tocbot/src/scss/tocbot-default-theme';
@import 'node_modules/react-datepicker/dist/react-datepicker';
@import 'node_modules/rc-time-picker/assets/index';

/* ------------------------- IMPORT CUSTOM SCSS ---------------------------- */
// site-wide elements
@import 'elements/mixins'; // keep first in list
@import 'elements/accessibility';
@import 'elements/base';
@import 'elements/buttons';
@import 'elements/cards';
@import 'elements/dropdowns';
@import 'elements/dropzone';
@import 'elements/effects';
@import 'elements/expressions';
@import 'elements/flex';
@import 'elements/forms';
@import 'elements/inputs';
@import 'elements/mixins';
@import 'elements/modals';
@import 'elements/select';
@import 'elements/typography';

// component-specific
@import 'components/artifact/Artifact';
@import 'components/auth/Login';
@import 'components/auth/Logout';
@import 'components/builder/Builder';
@import 'components/builder/CodeSelectModal';
@import 'components/builder/Element';
@import 'components/builder/ElementSelect';
@import 'components/builder/ErrorStatement';
@import 'components/builder/ExternalCQL';
@import 'components/builder/ExternalCqlDetails';
@import 'components/builder/ExternalCqlDetailsSection';
@import 'components/builder/ExternalCqlTable';
@import 'components/builder/Modifiers';
@import 'components/builder/Parameters';
@import 'components/builder/Recommendations';
@import 'components/builder/RepoUploadModal';
@import 'components/builder/Subpopulations';
@import 'components/elements/Banner';
@import 'components/Footer';
@import 'components/Header';
@import 'components/Landing';
@import 'components/Navbar';
@import 'components/NotFoundPage';
@import 'components/NotLoggedInPage';
@import 'components/testing/PatientDataSection';
@import 'components/testing/PatientTesting';
@import 'components/testing/PatientView';
@import 'components/testing/Testing';
@import 'components/UserGuide';

// vendors
@import "vendors/bootstrap";
@import "vendors/addthis";

/* ------------------------- FONTS ----------------------------------------- */
@font-face {
  font-family: 'Code-Pro';
  src: url("./fonts/233341_0_0.eot");
  src:
    url("./fonts/233341_0_0.eot?#iefix") format("embedded-opentype"),
    url("./fonts/233341_0_0.woff") format("woff"),
    url("./fonts/233341_0_0.ttf") format("truetype");
}

@font-face {
  font-family: 'Code-Pro-LC';
  src: url("./fonts/235257_0_0.eot");
  src:
    url("./fonts/235257_0_0.eot?#iefix") format("embedded-opentype"),
    url("./fonts/235257_0_0.woff") format("woff"),
    url("./fonts/235257_0_0.ttf") format("truetype");
}

@font-face {
  font-family: 'CartoGothicStdBook';
  src: url("./fonts/CartoGothicStd-Book-webfont.eot");
  src:
    url("./fonts/CartoGothicStd-Book-webfont.eot?#iefix") format("embedded-opentype"),
    url("./fonts/CartoGothicStd-Book-webfont.woff") format("woff"),
    url("./fonts/CartoGothicStd-Book-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'CartoGothicStdItalic';
  src: url("./fonts/CartoGothicStd-Italic-webfont.eot");
  src:
    url("./fonts/CartoGothicStd-Italic-webfont.eot?#iefix") format("embedded-opentype"),
    url("./fonts/CartoGothicStd-Italic-webfont.woff") format("woff"),
    url("./fonts/CartoGothicStd-Italic-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'CartoGothicStdBold';
  src: url("./fonts/CartoGothicStd-Bold-webfont.eot");
  src:
    url("./fonts/CartoGothicStd-Bold-webfont.eot?#iefix") format("embedded-opentype"),
    url("./fonts/CartoGothicStd-Bold-webfont.woff") format("woff"),
    url("./fonts/CartoGothicStd-Bold-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'CartoGothicStdBoldItalic';
  src: url("./fonts/CartoGothicStd-BoldItalic-webfont.eot");
  src:
    url("./fonts/CartoGothicStd-BoldItalic-webfont.eot?#iefix") format("embedded-opentype"),
    url("./fonts/CartoGothicStd-BoldItalic-webfont.woff") format("woff"),
    url("./fonts/CartoGothicStd-BoldItalic-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
