/* ------------------------- IMPORT VARIABLES ------------------------------ */
@import 'elements/variables';

/* ------------------------- IMPORT 3RD PARTY FONTS ------------------------ */
@import '~fontsource-source-sans-pro/latin.css';
@import '~fontsource-roboto-mono/latin.css';
@import '~fontsource-public-sans/latin.css';
@import '~fontsource-merriweather/latin.css';

/* ------------------------- IMPORT 3RD PARTY VENDORS ---------------------- */
@import '~bootstrap/scss/bootstrap.scss';
@import '~tocbot/src/scss/tocbot-core';
@import '~tocbot/src/scss/tocbot-default-theme';

/* ------------------------- IMPORT CUSTOM SCSS ---------------------------- */
// site-wide elements
@import 'elements/mixins'; // keep first in list
@import 'elements/accessibility';
@import 'elements/base';
@import 'elements/cards';
@import 'elements/expressions';
@import 'elements/flex';
@import 'elements/forms';
@import 'elements/loading';
@import 'elements/typography';

// component-specific
@import 'components/builder/Builder';
@import 'components/builder/Element';
@import 'components/builder/Fields';
@import 'components/builder/Subpopulations';
@import 'components/header/CdsHeader';
@import 'components/footer/CdsFooter';

// vendors
@import 'vendors/bootstrap';
@import 'vendors/ahrq-uswds2.0';
@import 'vendors/ahrq-global';
@import 'vendors/ahrq';

/* ------------------------- FONTS ----------------------------------------- */

/* prettier-ignore */
@font-face {
  font-family: 'Code-Pro';
  src: url('./fonts/233341_0_0.eot');
  src:
    url('./fonts/233341_0_0.eot?#iefix') format('embedded-opentype'),
    url('./fonts/233341_0_0.woff') format('woff'),
    url('./fonts/233341_0_0.ttf') format('truetype');
}

/* prettier-ignore */
@font-face {
  font-family: 'Code-Pro-LC';
  src: url('./fonts/235257_0_0.eot');
  src:
    url('./fonts/235257_0_0.eot?#iefix') format('embedded-opentype'),
    url('./fonts/235257_0_0.woff') format('woff'),
    url('./fonts/235257_0_0.ttf') format('truetype');
}

/* prettier-ignore */
@font-face {
  font-family: 'CartoGothicStdBook';
  src: url('./fonts/CartoGothicStd-Book-webfont.eot');
  src:
    url('./fonts/CartoGothicStd-Book-webfont.eot?#iefix') format('embedded-opentype'),
    url('./fonts/CartoGothicStd-Book-webfont.woff') format('woff'),
    url('./fonts/CartoGothicStd-Book-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* prettier-ignore */
@font-face {
  font-family: 'CartoGothicStdItalic';
  src: url('./fonts/CartoGothicStd-Italic-webfont.eot');
  src:
    url('./fonts/CartoGothicStd-Italic-webfont.eot?#iefix') format('embedded-opentype'),
    url('./fonts/CartoGothicStd-Italic-webfont.woff') format('woff'),
    url('./fonts/CartoGothicStd-Italic-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* prettier-ignore */
@font-face {
  font-family: 'CartoGothicStdBold';
  src: url('./fonts/CartoGothicStd-Bold-webfont.eot');
  src:
    url('./fonts/CartoGothicStd-Bold-webfont.eot?#iefix') format('embedded-opentype'),
    url('./fonts/CartoGothicStd-Bold-webfont.woff') format('woff'),
    url('./fonts/CartoGothicStd-Bold-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* prettier-ignore */
@font-face {
  font-family: 'CartoGothicStdBoldItalic';
  src: url('./fonts/CartoGothicStd-BoldItalic-webfont.eot');
  src:
    url('./fonts/CartoGothicStd-BoldItalic-webfont.eot?#iefix') format('embedded-opentype'),
    url('./fonts/CartoGothicStd-BoldItalic-webfont.woff') format('woff'),
    url('./fonts/CartoGothicStd-BoldItalic-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
