.artifact {
  background-color: $white;
  padding: $global-padding;
}

.artifacts__table {
  @include responsive-table;

  width: 100%;
  margin: 1em 0;

  th {
    padding-bottom: .5em;
  }
  td {
    padding: .25em;
  }
  tr:first-of-type td {
    padding-top: .5em;
  }

  td:last-of-type {
    text-align: right;
  }
}

.artifacts__tablecell-wide {
  width: 24em;

  .edit-artifact-button {
    margin-right: 1em;
  }
}

.artifacts__tablecell-short {
  width: 6em;
}
