// ------------------------- LOGIN ----------------------------------------- //
.login {
  margin: 5px 0 0 20px;

  &__button,
  &__button:focus {
    min-width: 100px;
    max-width: 200px;
    border: 1px solid $white;
    background-color: inherit;
    color: $white;
    padding: 5px 30px;
  }

  &__button:focus {
    background-color: $blue-darkest;
  }

  &__inputs {
    position: absolute;
    display: inherit;
    right: 110px;
    max-height: 35px;

    &-reset,
    &-reset:hover,
    &-reset:focus,
    &-reset:visited {
      border: none;
      outline: none;
      background-color: inherit;
      color: $white;
    }

    &-reset:focus span {
      font-weight: bold;
    }
  }

  &__auth-status {
    font-size: 0.8em;
    color: $ahrq-color-orange;
  }
}

// ------------------------- LOGIN MODAL ----------------------------------- //
.login-modal {
  &__disclaimer {
    font-size: 0.8em;
    margin-bottom: 40px;
  }

  input[type='checkbox'] {
    margin: 20px 20px 0 0;
  }

  input[type='text'],
  input[type='password'] {
    border: 0;
    box-shadow: none;
    margin: 5px 0;
    height: 50px;
  }

  &__forgot-password {
    font-size: 0.8em;
    margin-top: 20px;
  }
}
