// ------------------------- LOGIN ----------------------------------------- //
.login {
  width: 100%;
  margin: 20px 0;
  justify-content: flex-end;

  input,
  &__button {
    margin: 0 10px;
  }

  input {
    border: none;
  }

  &__button,
  &__button:focus {
    max-width: 100px;
    max-height: 35px;
    border: 1px solid $white;
    background-color: inherit;
    color: $white;
    line-height: 17px;
    @include respond-to('mobile') { line-height: 15px; }
  }

  &__button:focus {
    background-color: $blue-darkest;
  }

  &__inputs {
    position: absolute;
    display: inherit;
    right: 130px;
    max-height: 35px;

    &-reset,
    &-reset:hover,
    &-reset:focus,
    &-reset:visited {
      border: none;
      outline: none;
      background-color: inherit;
      color: $white;
    }

    &-reset:focus span {
      font-weight: bold;
    }
  }

  &__auth-status {
    position: absolute;
    white-space: nowrap;
    top: -20px;
    left: 10px;
    color: $ahrq-color-orange;
  }
}
