.builder {
  @include display(flex);
  @include flex-wrap(wrap);
  margin: -1em;

  .builder-palette {
    @include flex-grow(1);
    @include flex-shrink(1);
    @include flex-basis(100%);
    padding: 0;
    margin-bottom: 1px;

    li {

      border-right: 1px $white solid;

      &:not(:first-of-type) {
        border-left: 1px $white solid;
      }

      a {
        padding: 0.5em 0.75em;
        background: $primary-orange;
        color: $white;
        font-weight: 500;
        text-transform: uppercase;

        &:hover, &.active {
          cursor: pointer;
          background-color: darken($primary-orange, 20%);
        }
      }

      &:last-of-type {
        padding: 0.5em 0.75em;
        background-color: green;
        color: $white;
        font-weight: 500;
        text-transform: uppercase;

        &:hover {
          cursor: pointer;
          background-color: darken(green, 20%);
        }
      }


    }
  }

  .builder-subpalette {
    @include flex(1);
    max-width: 12em;
    padding: 1em;
    background-color: $primary-grey;
    font-weight: 500;
  }

  section.main {
    @include flex(1);
    min-height: 10em;
    padding: 1em;
  }
}

.builder-element {
  padding: 0.75em;
  background: $white;
  border: 1px solid darken($primary-grey, 10%);
  border-radius: 0.5em;

  &:hover {
    cursor: move;
    box-shadow: 1px 1px 4px $primary-blue;
  }
}
