button.primary-button {
  @include button(
    $primary-button-text-color,
    $primary-button-bg-color,
    $primary-button-border-color,
    $primary-button-border-hover-color,
    none
  );
}

button.secondary-button {
  @include button(
    $secondary-button-text-color,
    $secondary-button-bg-color,
    $secondary-button-border-color,
    $secondary-button-border-hover-color,
    none
  );
}

button.transparent-button {
  @include button(
    $default-button-text-color,
    transparent,
    transparent,
    transparent,
    none);

  &:hover,
  &:focus,
  &:active {
    background-color: $white;
    border: 1px solid $gray-lighter;
    text-decoration: underline;
    color: $default-button-text-color;
    outline: none;
  }
}

button.invisible-button {
  @include button(
    $default-button-text-color,
    transparent,
    transparent,
    transparent,
    none);

  &:hover,
  &:focus,
  &:active {
    background-color: $white;
    text-decoration: underline;
    color: $default-button-text-color;
    outline: none;
  }
}

button[disabled],
button[disabled]:hover,
button[disabled]:focus,
button[disabled]:active {
  opacity: 0.45;
}

button.disabled-button {
  @include button(
    $disabled-button-text-color,
    $disabled-button-bg-color,
    $disabled-button-border-color,
    $disabled-button-border-hover-color,
    none
  );

  &:hover,
  &:focus,
  &:active {
    background-color: $disabled-button-bg-color;
    color: $disabled-button-text-color;
  }
}

button.disabled-dropdown {
  @include button(
    $disabled-button-text-color,
    rgba(0,0,0,0),
    rgba(0,0,0,0),
    $disabled-button-border-hover-color,
    none
  );

  &:hover,
  &:focus,
  &:active {
    background-color: $disabled-button-bg-color !important;
    color: $disabled-button-text-color !important;
  }
}

button.danger-button {
  @include button($white, darken($red, 10%), darken($red, 10%), darken($red, 10%), none);
}

.small-button {
  font-size: 0.75em;
}

.element__deletebutton,
.element-modal__searchbutton {
  margin-left: 0.5em;
  box-shadow: none;
  background-color: $white;
  border-color: $gray-light;

  &:hover {
    border-color: $secondary-button-border-hover-color;
  }
}

.element__linkbutton {
  margin-left: 0.5em;
}

.delete-code-button,
.delete-valueset-button,
.fa-eye {
  cursor: pointer;
}
