.card-group {
  width: 100%;
  border-radius: 0.2em;

  &__top {
    margin-left: 0;
    border-radius: 0.2em;

    .card-element { background-color: $gray-lightest; }
  }

  &__even {
    background-color: $body-bg;
    border: 0.1em solid $border-color;
    padding: 1em;

    > .card-group-section > .card-element,
    > .card-element {
      background-color: $gray-lightest;
    }
  }

  &__odd {
    background-color: $gray-lightest;
    border: 0.1em solid $border-color;
    padding: 1em;

    > .card-group-section > .card-element,
    > .card-element {
      background-color: $body-bg;
    }
  }

  &__conjunction-select {
    width: 12em;
    margin: 20px 0;
  }

  &-section {
    width: 100%;
  }

  .card-element {
    padding: 0;
    border: 0.1em solid $border-color;
    border-radius: 0.2em;
    font-weight: 500;
    width: 100%;

    &__label {
      font-size: 1.2em;
      margin: 0;
    }

    &__textarea {
      width: 100%;
      min-height: 100px;
      margin: 0.5em 0;
      padding: 0.5em;
    }

    &.base-element {
      background-color: lighten($blue-light, 35%);
    }

    &__header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0.5em 1em;

      .string-field {
        .label {
          flex: 1;
          text-align: left;
          padding-right: 1em;
          white-space: nowrap;
        }

        .input {
          flex: 6;
          padding: 0 0.75em;
        }
      }

      &-top {
        display: flex;
        width: 100%;

        .card-element__heading {
          flex: 4;
        }

        .card-element__buttons {
          flex: 1;
          text-align: right;
          margin-top: 10px;
          white-space: nowrap;
        }

        &.collapsed {
          margin-top: 10px;
        }
      }

      &.collapsed {
        flex-direction: column;
        align-items: flex-start;
      }

      &-expression {
        margin-bottom: 20px;
      }
    }

    &__heading .heading-name {
      display: flex;
      align-items: center;
      font-weight: bold;

      .warning {
        margin-left: 10px;
        font-weight: normal;
      }
    }

    &__buttons button {
      margin-left: 0.5em;
    }

    &__body {
      border-top: 0.1em solid $border-color;
      padding: 1em;

      &-element {
        display: flex;
        align-items: center;
        margin: 10px 0;

        &-label {
          display: inline-block;
          font-weight: bold;
          text-align: right;
          padding-right: 2em;
          margin-left: 5px;
        }

        &-data {
          display: inline-block;
        }
      }
    }

    &__footer {
      padding: 1em;
      border-top: $border-global;

      &:empty { display: none; }
    }
  }

  .card-group__header {
    display: flex;
  }

  .card-group__header-title {
    flex: 4;

    .label {
      text-align: left;
      padding-right: 1em;
    }
  }

  .card-group__buttons {
    flex: 1;
    text-align: right;
    margin-top: 10px;
    white-space: nowrap;
  }

  .card-select {
    width: 12em;
    margin: 20px 0;
    border: 0.1em solid $border-color;
    border-radius: 0.2em;
    box-shadow: 1px 1px 1px 0 rgba(21, 21, 21, 0.1);
    min-width: 200px;
  }

  &__top {
    justify-content: space-between;
    width: 100%;
  }

  .group-heading-name {
    display: flex;
    align-items: center;
    font-weight: bold;

    .warning {
      margin-left: 10px;
      font-weight: normal;
    }
  }
}
