.card-group {
  flex-flow: column;
  border-radius: 0.2em;

  &__top {
    width: 100%;

    .card-element {
      background-color: $gray-lightest;
    }
  }

  &__header {
    display: flex;
  }

  &__title {
    display: flex;
    flex-direction: column;
    width: 100%;

    .field {
      margin-bottom: 10px;
    }

    .input {
      width: 100%;

      textarea {
        padding: 6px 15px;
      }

      input,
      textarea {
        width: 95%;
      }
    }

    .group-heading-name {
      display: flex;
      align-items: center;
      font-weight: bold;

      .warning {
        margin-left: 20px;
        font-weight: normal;
      }
    }
  }

  &__buttons {
    flex: 1;
    text-align: right;
    white-space: nowrap;
  }

  &__even {
    background-color: $body-bg;
    border: 0.1em solid $border-color;
    padding: 1em;

    > .card-group-section > .card-element,
    > .card-element {
      background-color: $gray-lightest;
    }
  }

  &__odd {
    background-color: $gray-lightest;
    border: 0.1em solid $border-color;
    padding: 1em;

    > .card-group-section > .card-element,
    > .card-element {
      background-color: $body-bg;
    }
  }

  &__conjunction-select {
    width: 12em;
    margin: 20px 0;
  }

  &-section {
    width: 100%;
  }

  .card-element {
    border: 0.1em solid $border-color;
    border-radius: 0.2em;

    &__header {
      display: flex;
      justify-content: space-between;
      padding: 1em;

      &.collapsed {
        flex-direction: column;
        align-items: flex-start;
      }
    }

    &__header-top {
      display: flex;
      flex: 4;
      width: 100%;

      .card-element__heading {
        flex: 4;
      }

      .card-element__buttons {
        text-align: right;
        white-space: nowrap;
      }
    }

    &__heading {
      .field {
        margin-bottom: 10px;
      }

      .input {
        width: 100%;

        textarea {
          padding: 6px 15px;
        }

        input,
        textarea {
          width: 95%;
        }
      }

      .heading-name {
        display: flex;
        align-items: center;
        font-weight: bold;

        .warning {
          margin-left: 20px;
          font-weight: normal;
        }
      }
    }

    &__textarea {
      width: 100%;
      min-height: 100px;
      margin: 0.5em 0;
      padding: 0.5em;
    }

    &__label {
      font-size: 1.2em;
      margin: 0;
    }

    &.base-element {
      background-color: lighten($blue-light, 40%);
      border-color: lighten($blue-light, 20%);

      .card-element__body,
      .card-element__footer {
        border-color: lighten($blue-light, 20%);
      }
    }

    &__body {
      border-top: 0.1em solid $border-color;
      padding: 1em 2em;

      .form__group {
        margin: 10px 0;
      }

      &-element {
        display: flex;
        align-items: center;
        margin: 10px 0;

        &-label {
          display: inline-block;
          font-weight: bold;
          text-align: right;
          padding-right: 2em;
          margin-left: 5px;
        }

        &-data {
          display: inline-block;
        }
      }
    }

    &__footer {
      padding: 1em;
      border-top: $border-global;

      &:empty { display: none; }
    }
  }

  .card-select {
    width: 12em;
    margin: 20px 0;
    border: 0.1em solid $border-color;
    border-radius: 0.2em;
    box-shadow: 1px 1px 1px 0 rgba(21, 21, 21, 0.1);
    min-width: 200px;
  }
}
