.react-datepicker__navigation {
  height: 5px;
  box-shadow: none;

  &:hover {
    background-color: $datepicker-bg;
  }

  &--previous:hover {
    border-color: $datepicker-bg $blue $datepicker-bg $datepicker-bg;
  }

  &--next:hover {
    border-color: $datepicker-bg $datepicker-bg $datepicker-bg $blue;
  }
}
