.dropdown-button {
  .dropdown-toggle {
    background-color: $white;
    color: inherit;
    box-shadow: none;
    border: 0;

    &:hover,
    &:active,
    &:focus {
      background-color: $blue;
      color: $white;
      box-shadow: none;
    }
  }

  .dropdown-item {
    box-shadow: none;
    margin: 0;

    &:hover {
      background-color: $gray;
      color: $white;
      border-radius: 0;
    }
  }
}
