.expression {
  background-color: $white;
  padding: 20px;

  &-item {
    display: inline-block;
  }

  &-tag {
    margin: 2px 5px;
    padding: 4px 10px;
    background-color: $blue-light;
    color: $white;
    border-radius: 20px;
    cursor: default;
  }

  &-text {
    margin: 5px 0;
    padding: 5px 3px;
  }

  &-type {
    font-weight: bold;
  }

  &.expression-collapsed {
    background-color: inherit;
    padding: 0 20px;
    border-left: 4px solid $gray-lighter;
  }

  &__group {
    margin-bottom: 10px;
  }
}

.card-group__odd > .card-group-section > .card-element > .card-element__body > .expression:not(.expression__group),
.card-group__odd > .card-element > .card-element__body > .expression:not(.expression__group),
.subpopulation:not(.base-element) .expression:not(.expression__group) {
  background-color: $gray-lightest;

  &.expression-collapsed {
    background-color: $white;
  }
}

.card-group__even > .card-group__top > .expression__group,
.card-group__even > .card-group__top > .expression__group,
.subpopulation:not(.base-element) > .card-group__even > .expression__group {
  background-color: $gray-lightest;

  &.expression-collapsed {
    background-color: $white;
  }
}
