.card-group__odd > .card-group-section > .card-element > .card-element__body > .expression:not(.expression__group),
.card-group__odd > .card-element > .card-element__body > .expression:not(.expression__group),
.subpopulation:not(.base-element) .expression:not(.expression__group) {
  background-color: $gray-lightest;

  &.expression-collapsed {
    background-color: $white;
  }
}

.card-group__even > .card-group__top > .expression__group,
.subpopulation:not(.base-element) > .card-group__even > .expression__group {
  background-color: $gray-lightest;

  &.expression-collapsed {
    background-color: $white;
  }
}
