.flex {
  display: flex;
}

.flex-1 { flex: 1; }
.flex-2 { flex: 2; }
.flex-3 { flex: 3; }
.flex-4 { flex: 4; }
.flex-5 { flex: 5; }
.flex-6 { flex: 6; }
.flex-7 { flex: 7; }
.flex-8 { flex: 8; }

.flex-col-1 { width: 100%; }
.flex-col-2 { width: 50%; }
.flex-col-3 { width: 33%; }
.flex-col-4 { width: 25%; }
