.element-modal.modal-style {
  border-radius: $border-radius;
  box-shadow: $box-shadow;
  margin: 20px auto;
  position: absolute;
  top: 10%;
  left: 15%;
  right: 15%;

  &__light {
    background-color: $white;
    color: $gray-dark;

    .modal__deletebutton {
      @include button($gray-dark, transparent, transparent, transparent, none);
    }
  }

  &__dark {
    background-color: $gray-with-opacity;
    color: $white;

    .modal__deletebutton {
      @include button($white, transparent, transparent, transparent, none);
    }
  }

  .modal__deletebutton {
    &:hover,
    &:focus,
    &:active {
      background-color: transparent;
      text-decoration: underline;
      color: $gray-light;
    }
  }

  .modal__header {
    display: flex;
    padding: 0.5em 1em;
    align-items: center;
    justify-content: center;
    border-bottom: $border-global;

    .modal__heading {
      flex: 1;
      font-weight: $font-weight-bold;
      margin-left: 1em;
    }

    .modal__buttonbar {
      flex-shrink: 0;
      text-align: right;
    }
  }

  .modal__content {
    padding: 2em;
  }

  &--full-height {
    top: 10%;
    bottom: 10%;
    left: 15%;
    right: 15%;
  }

  .modal__buttons {
    display: flex;
    justify-content: flex-end;
    margin-top: 40px;
  }

  .modal__footer_status {
    flex-grow: 1;
  }
}

body.ReactModal__Body--open {
  overflow: hidden;

  #root {
    filter: blur(10px);

    @include ie10plus { opacity: 0.1; }
  }
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: auto;

  &__dark {
    background-color: $gray-with-opacity;
  }

  &__light {
    background-color: $white-with-opacity;
  }
}

.loading-icon {
  font-size: 3em;
  margin: auto;
}
