.element-modal__search .Select {
  max-width: 316px;
}

.element-select__add-element {
  .Select-menu-outer > div > div {
    padding: 10px 0 !important;

    span:first-child {
      padding-left: 10px;
    }
  }
}

.Select {
  margin-right: 10px;
  max-width: 400px;

  &-input {
    @include respond-to-min('1440px') { height: 46px; }

    input {
      padding-left: 10px;
      border: 0;
      box-shadow: none;
    }
  }

  &-value-label,
  &-placeholder {
    @include respond-to-min('1440px') { line-height: 46px; }
  }

  &-value,
  &-input,
  &-placeholder {
    padding-left: 15px !important;
  }

  &-placeholder {
    color: #aaa;
  }

  &-option.select-notice {
    color: #ccc;
    border-top: 1px solid #eee;
  }

  &-option.is-disabled {
    color: #ccc;
  }

  &-menu-outer {
    max-height: 1000px;

    > div > div {
      padding: 10px 15px !important;
    }
  }

  &-menu {
    max-height: 998px;
  }

  &.operator {
    min-width: 100px !important;
  }
}
