.Select {
  margin-right: 10px;
  max-width: 400px;

  &-input {
    @include respond-to-min('1440px') { height: 46px; }
  }

  &-value-label,
  &-placeholder {
    @include respond-to-min('1440px') { line-height: 46px; }
  }

  &-placeholder {
    color: #aaa;
  }

  &-option.select-notice {
    color: #ccc;
    border-top: 1px solid #eee;
  }

  &-menu-outer {
    max-height: 1000px;
  }

  &-menu {
    max-height: 998px;
  }
}
