//-------------------------- Colors -----------------------------------------//
// accessible foreground/background combinations include:
//   - $black on $gray-light, $gray-lighter, $white
//   - $white on $black, $gray-dark, $gray, $blue-dark, $blue
$white: #fff;
$black: #151515;
$gray-lightest: #f8f8f8;
$gray-lighter: #ececec;
$gray-light: #545459;
$gray-blue: #e9ecef;
$gray-blue-dark: #718eb2;
$gray: #494d55;
$gray-contrast: #4b5558;
$gray-dark: #323a45;
$blue: #102537;
$blue-dark: #08101c;
$blue-light: #5178a4;
$blue-darkest: #071119;
$blue-link: #004198;
$light-blue-link: #84b9ff;
$red: #a3142c;
$green: #41c682;
$gray-with-opacity: rgba(20, 37, 54, 0.9);
$white-with-opacity: rgba(255, 255, 255, 0.5);

// ahrq colors
$ahrq-color-background-light-gradient: -webkit-linear-gradient(top, #d1d1d1 0%, #fff 100%);
$ahrq-color-dark-gradient: linear-gradient(#324a64, #1e2f40);
$ahrq-color-background-light: #e9e9e9;
$ahrq-color-text: #4d4d4d;
$ahrq-color-purple: #6d1a7f;
$ahrq-color-light-blue: #4edeeb;
$ahrq-color-orange: #ffaf5a;
$ahrq-color-green: #4bef6d;
$ahrq-color-dark-blue: #6693ee;

// brand colors
$brand-primary: $blue;
$brand-success: $green;
$brand-danger: $red;

// home page colors
$home-red: #e1756a;
$home-green: #36a0a0;
$home-yellow: #b48e43;
$home-gray: #646974;

// border colors
$border-color: darken($gray-lighter, 10%);

// background colors
$body-bg: $white;
$card-bg: $gray-lightest;
$datepicker-bg: #f0f0f0;

// button colors
$default-button-text-color: $blue;
$default-button-bg-color: $gray-lightest;
$default-button-border-color: $gray-lightest;
$default-button-border-hover-color: $blue;

$primary-button-text-color: $white;
$primary-button-bg-color: $blue;
$primary-button-border-color: $blue;
$primary-button-border-hover-color: $blue;

$secondary-button-text-color: $blue;
$secondary-button-bg-color: $white;
$secondary-button-border-color: $white;
$secondary-button-border-hover-color: $blue;

$disabled-button-text-color: $gray-light;
$disabled-button-bg-color: $gray-lighter;
$disabled-button-border-color: $gray-lighter;
$disabled-button-border-hover-color: $gray-lighter;

// form colors
$form-input-placeholder-color: $gray-contrast;
$form-validation-success-color: shade($blue, 60%);
$form-validation-error-color: darken($red, 20%);

// nav colors
$navbar-bg-color: #1e2f40;
$navbar-link-color: $white;
$navbar-link-active-color: #4a5968;

// footer colors
$footer-background: #006aaa;
$footer-background-medium: #0079c1;
$footer-background-light: #1986c7;
$footer-background-gradient-1: linear-gradient(to bottom, $footer-background 0%, $footer-background-medium 3%, $footer-background-light 100%);
$footer-links: #6c1f7e;

//-------------------------- Borders ----------------------------------------//
$border-radius: 0.2em;
$border-width: 0.1em;
$border-global: $border-width solid $border-color;

//-------------------------- Spacing ----------------------------------------//
$global-padding: 30px 0;

//-------------------------- Box Shadows ------------------------------------//
$box-shadow: 1px 1px 1px 0 fade-out($black, 0.9);
$box-shadow-inset: inset 0 1px 2px 0 fade-out($black, 0.9);

//-------------------------- Fonts ------------------------------------------//
$font-weight-regular: 400;
$font-weight-bold: 500;

// ------------------------- PATHS ----------------------------------------- //
$icon-font-path: '/assets/bootstrap/';
$fa-font-path: '/assets/fontawesome';

// ------------------------- BOOTSTRAP VARIABLES --------------------------- //
$navbar-height: 80px;
$panel-border-radius: 0;
$border-radius-large: 0;
$headings-font-weight: 200;

$screen-xs: 480px;
$screen-sm: 768px;
$screen-md: 992px;
$screen-lg: 1200px;

$container-sm: $screen-sm;
$container-md: $screen-md;
$container-lg: $screen-lg;

$grid-float-breakpoint: $screen-md;
$grid-gutter-width: 30px;
$container-tablet: $screen-sm + $grid-gutter-width;
$container-desktop: $screen-md + $grid-gutter-width;
$container-large-desktop: $screen-lg + $grid-gutter-width;

//------------------------ Media Queries ------------------------------------//

$break-mobile: $screen-sm - 1;  // mobile and tablet-portrait
$break-tablet: $screen-md - 1;  // tablet-landscape
$break-desktop: $screen-lg - 1; // desktop-regular (> desktop-wide)

@mixin respond-to($media) {
  @if $media == mobile {
    @media only screen and (max-width: $break-mobile) {
      @content;
    }
  }

  @else if $media == tablet {
    @media only screen and (min-width: $break-mobile + 1) and (max-width: $break-tablet) {
      @content;
    }
  }

  @else if $media == desktop {
    @media only screen and (min-width: $break-tablet + 1) and (max-width: $break-desktop) {
      @content;
    }
  }

  @else if $media == desktop-wide {
    @media only screen and (min-width: $break-desktop + 1) {
      @content;
    }
  }

  @else if $media == handheld {
    @media only screen and (max-width: $break-tablet) {
      @content;
    }
  }

  @else if $media == non-handheld {
    @media only screen and (min-width: $break-tablet +1) {
      @content;
    }
  }

  @else {
    @media only screen and (max-width: $media) {
      @content;
    }
  }
}

@mixin respond-to-min($media) {
  @media only screen and (min-width: $media) {
    @content;
  }
}
