// default styling for all elements



html, body {
  min-height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background: $body-bg;
}

main {
  margin: 1em;
  padding: 1em;

  > div:not([class]) {
    background-color: $page-bg;
    padding: 1em;
  }
}

#{$all-buttons},
#{$all-text-inputs} {
  font-weight: 400;
  font-family: 'Rubik', sans-serif;
  font-size: 1rem;
  padding: 0.25em 0.5em;
  border-radius: $border-radius;
  border-color: darken($page-bg, 20%);
  border-style: solid;
  border-width: 0.1em;
  border-bottom-width: $border-width;
  outline: 0;

  &:focus {
    border-color: purple;
  }
}

#{$all-buttons} {
  @include button($default-button-bg-color, $default-button-text-color);

  & + #{$all-buttons} {
    // add margin between two buttons that are side by side!
    margin-left: 0.25em;
  }
}

#{$all-buttons-hover} {
  cursor: pointer;
}

label {
  font-weight: 500;
  display: block;
  margin: 1em 0;
  text-transform: uppercase;
  font-size: 0.9em;

  input {
    display: block;
  }
}

table {
  border-collapse: collapse;

  thead tr:last-child th, thead tr:last-child td {
    border-bottom: 3px $brown solid;
  }

  thead th, thead td {
    font-weight: 500;
    text-transform: uppercase;
    font-size: 0.9em;
    text-align: left;
  }

  tbody th, tbody td {
    text-align: left;
    border-bottom: 1px $white solid;
  }

  th:not(:last-child), td:not(:last-child) {
    padding-right: 2em;
  }
}

a {
  color: $brown;
  font-weight: 500;

  &:hover, &:focus, &:active {
    color: darken($brown, 25%);
  }
}
