// default styling for all elements

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html,
body {
  min-height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background: $body-bg;
}

main {
  margin: 1em;
  padding: 1em;

  > div:not([class]) {
    padding: 1em;
  }

  > div:not([class]),
  header + section {
    background-color: $white;
    border-radius: $border-radius;
  }
}

#{$all-buttons},
#{$all-text-inputs} {
  font-weight: 500;
  font-family: 'Rubik', sans-serif;
  font-size: 1rem;
  padding: 0.4em 0.75em;
  border-radius: $border-radius;
  border-color: $form-input-border-color;
  border-style: solid;
  border-width: $border-width;
  outline: 0;

  &:focus {
    border-color: $form-input-focus-color;
  }
}

#{$all-buttons} {
  @include button($default-button-text-color, $default-button-bg-color);

  & + #{$all-buttons} {
    // add margin between two buttons that are side by side!
    margin-left: 0.25em;
  }

  &:hover {
    cursor: pointer;
  }
}

#{$all-buttons-hover} {
  cursor: pointer;
}

table {
  border-collapse: collapse;

  thead tr:last-child th,
  thead tr:last-child td {
    border-bottom: 3px $gray solid;
  }

  thead th,
  thead td {
    font-weight: 500;
    text-transform: uppercase;
    font-size: 0.9em;
    text-align: left;
  }

  tbody th,
  tbody td {
    text-align: left;
    border-bottom: 1px $white solid;
  }

  th:not(:last-child),
  td:not(:last-child) {
    padding-right: 2em;
  }
}

a {
  color: $gray;

  &:hover,
  &:focus,
  &:active {
    color: darken($gray, 25%);
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 300;
}
