.input {
  width: 18em;

  &__long { width: 24em; }
  &__short { width: 6em; }
}

.form__inline {
  .form__group {
    display: inline-block;

    label {
      display: inline-block;
      margin-right: 1em;
    }
  }
}

.form__group {
  margin: 1em 0;

  label {
    font-weight: $font-weight-regular;
    display: block;

    > input {
      margin-left: 0.5em;
    }
  }

  .form__caption {
    font-size: 0.9em;

    label {
      display: inline-block;
    }
  }

  > span {
    font-size: 0.8em;
    text-transform: none;
  }

  /* Relevant to the react-select plugin */
  .Select-placeholder,
  .Select--single > .Select-control .Select-value {
    color: $form-input-placeholder-color;
  }

  .Select-control {
    color: $black;
    border: $border-global;
    border-radius: $border-radius;
    box-shadow: $box-shadow;

    &:hover {
      box-shadow: $box-shadow;
    }
  }

  .Select-menu-outer {
    box-shadow: $box-shadow;
    overflow: hidden;
  }

  .Select-option {
    color: $black;
  }

  .Select-clear {
    color: #333;
  }

  .is-open > .Select-control {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }

  .is-focused:not(.is-open) > .Select-control {
    box-shadow: none;
  }

  .is-searchable {
    .Select-control,
    .Select-control:hover {
      box-shadow: $box-shadow-inset;
    }
  }

  /* Validation states */
  &.form__group-valid {
    @include state-color($form-validation-success-color);
  }

  &.form__group-invalid {
    @include state-color($form-validation-error-color);
  }
}
.Select {
  &.is-focused {
    .Select-control {
      @include native-focus();
    }
  }
}
