// turn a list of links into a navigation bar
@mixin navigation($horizontal: false) {
  ul {
    list-style: none;
    padding-left: 0;
    margin: 0;

    li {
      @if $horizontal { display: inline-block; }

      a {
        color: inherit;
        text-decoration: none;
        padding: 0.5em;
      }
    }
  }
}

@mixin button($lightcolor, $darkcolor) {
  background-color: $lightcolor;
  color: $darkcolor;
  border-color: darken($lightcolor, 10%);

  &:hover,
  &:focus,
  &:active {
    background-color: $darkcolor;
    color: $default-button-hover-text-color;
    border-color: lighten($darkcolor, 10%);
  }
}

// make a table collapse to a list below a specified width
// assumes cells have a data-th attribute present.
@mixin responsive-table($breakpoint: 480px) {
  thead {
    @media (max-width: $breakpoint) {
      display: none;
    }
  }

  th,
  td {
    @media (max-width: $breakpoint) {
      display: block;
      padding: 0.25em 0.5em;
      border-bottom: 0;
    }

    &::before {
      @media (max-width: $breakpoint) {
        content: attr(data-th);
        display: block;
        font-weight: 500;
        text-transform: uppercase;
        font-size: 0.9em;
      }
    }

    &:last-child {
      @media (max-width: $breakpoint) {
        margin-bottom: 2em;
      }
    }
  }
}

/* a fast way to inundate a selector and descendants
   with a color! not intended for buttons.
   this approach might change later */
@mixin state-color($color) {
  color: $color;
  border-color: $color;

  * {
    color: $color;
    border-color: $color;
  }
}
