.modal-style {
  position: absolute;
  top: 50px;
  left: 40px;
  right: 40px;
  outline: none;
  padding: 0;
  background-color: $white;
  border: $border-global;
  border-radius: $border-radius;
  box-shadow: $box-shadow;

  .modal__header {
    display: flex;
    padding: .5em 1em;
    align-items: center;
    justify-content: center;
    border-bottom: $border-global;

    .modal__heading {
      flex: 1;
      font-weight: $font-weight-bold;
    }

    .modal__buttonbar {
      flex: 1;
      text-align: right;

      .modal__deletebutton {
        @extend .transparent-button;
      }
    }
  }

  .modal__body {
    padding: 1em;
  }
}
