// Accessible foreground/background combinations include:
//   - $black on $gray-light, $gray-lighter, $white
//   - $white on $black, $gray-dark, $gray, $blue-dark, $blue
$white: #fff;
$black: #151515;
$gray-lightest: #f8f8f8;
$gray-lighter: #ececec;
$gray-light: #aeb0b5;
$gray: #5b616b;
$gray-dark: #323a45;
$blue: #102537;
$blue-dark: #08101c;
$blue-link: #004198;
$red: #e31c3d;
$border-color: darken($gray-lighter, 10%);

$border-radius: 0.2em;
$border-width: 0.1em;
$border-global: $border-width solid $border-color;

$box-shadow: 1px 1px 1px 0 fade-out($black, 0.9);
$box-shadow-inset: inset 0 1px 2px 0 fade-out($black, 0.9);

$font-weight-regular: 400;
$font-weight-bold: 500;

$body-bg: $blue-dark;

$default-button-text-color: $black;
$default-button-bg-color: $gray-lightest;
$primary-button-text-color: $white;
$primary-button-bg-color: $blue;

$form-input-placeholder-color: $gray;
$form-validation-success-color: shade($blue, 60%);
$form-validation-error-color: darken($red, 20%);

$navbar-bg-color: $blue;
$navbar-link-color: $white;
$navbar-link-active-color: $white;
