@mixin button($color-foreground: $default-button-text-color, $color-background: $default-button-bg-color, $box-shadow: $box-shadow) {
  background-color: $color-background;
  color: $color-foreground;
  border: $border-width solid darken($color-background, 15%);
  box-shadow: $box-shadow;

  &:hover,
  &:focus,
  &:active {
    background-color: shade($color-background, 10%);
    color: $color-foreground;
    box-shadow: $box-shadow;
  }

  &:active {
    box-shadow: none;
  }
}

// make a table collapse to a list below a specified width
// assumes cells have a data-th attribute present.
@mixin responsive-table($breakpoint: 480px) {
  thead {
    @media (max-width: $breakpoint) {
      display: none;
    }
  }

  th,
  td {
    @media (max-width: $breakpoint) {
      display: block;
      padding: 0.25em 0.5em;
      border-bottom: 0;
    }

    &::before {
      @media (max-width: $breakpoint) {
        content: attr(data-th);
        display: block;
        font-weight: $font-weight-bold;
        text-transform: uppercase;
        font-size: 0.9em;
      }
    }

    &:last-child {
      @media (max-width: $breakpoint) {
        margin-bottom: 2em;
      }
    }
  }
}

/* a fast way to inundate a selector and descendants
   with a color! not intended for buttons.
   this approach might change later */
@mixin state-color($color) {
  color: $color;
  border-color: $color;

  * {
    color: $color;
    border-color: $color;
  }
}

@mixin native-focus() {
  outline-width: 2px;
  outline-style: solid;
  outline-color: Highlight;

  /* WebKit gets its native focus styles.
   */
  @media (-webkit-min-device-pixel-ratio:0) {
    outline-width: 5px;
    outline-style: auto;
    outline-color: -webkit-focus-ring-color;
  }
}
