.modal-style {
  position: absolute;
  top: 50px;
  left: 40px;
  right: 40px;
  outline: none;
  padding: 0;
  background-color: $white;
  border: $border-global;
  border-radius: $border-radius;
  box-shadow: $box-shadow;

  .modal__header {
    display: flex;
    padding: .5em 1em;
    align-items: center;
    justify-content: center;
    border-bottom: $border-global;

    .modal__heading {
      flex: 1;
      font-weight: $font-weight-bold;
    }

  .modal__buttonbar {
    flex-shrink: 0;
    text-align: right;

      .modal__deletebutton {
        @extend .transparent-button;
      }
    }
  }

  .modal__body {
    padding: 1em;
  }

  &--full-height {
    top: 10%;
    bottom: 10%;
    left: 15%;
    right: 15%;
  }
}

.modal-overlay {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background-color: $grey-with-opacity;
}
