.modal-style {
  max-width: 800px;
  margin: 20px auto;
  background-color: $gray-with-opacity;
  border-radius: $border-radius;
  box-shadow: $box-shadow;
  color: $white;

  .modal__header {
    display: flex;
    padding: 0.5em 2em;
    align-items: center;
    justify-content: center;
    border-bottom: $border-global;

    .modal__heading {
      flex: 1;
      font-weight: $font-weight-bold;
    }

    .modal__buttonbar {
      flex-shrink: 0;
      text-align: right;

      .modal__deletebutton {
        @include button($white, transparent, transparent, none);

        &:hover,
        &:focus,
        &:active {
          background-color: transparent;
          text-decoration: underline;
          color: $white;
        }
      }
    }
  }

  .modal__body {
    padding: 2em;
  }

  &--full-height {
    top: 10%;
    bottom: 10%;
    left: 15%;
    right: 15%;
  }

  .modal__buttons {
    display: flex;
    justify-content: flex-end;
    margin-top: 40px;
  }
}

.modal-overlay {
  background-color: $white-with-opacity;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
