.artifact {
  &-wrapper { @include componentWidth; }

  padding: $global-padding;

  &-form__inputs {
    margin: 20px 0 40px;

    button {
      margin: 0.5rem 0;
      width: 7.5em;
      padding: 0.4em 0.75em !important;
    }
  }
}

.artifacts__table {
  @include responsive-table;

  width: 100%;
  margin: 1em 0;

  th {
    padding-bottom: 0.5em;
  }

  td {
    padding: 0.25em;
  }

  tr:first-of-type td {
    padding-top: 0.5em;
  }

  td:last-of-type {
    text-align: right;
  }
}

.artifacts__tablecell-wide {
  width: 24em;

  .edit-artifact-button {
    margin-right: 1em;
  }
}

.artifacts__tablecell-short {
  width: 6em;
}

.artifacts__tablecell-buttons button {
  margin-left: 10px;
}

.artifact-info {
  font-size: 0.9em;
  color: $gray;
}

.artifact-form {
  display: flex;
  flex-wrap: wrap;
  padding: 20px 40px;

  .date-field,
  .date-range-field {
    button {
      padding: 20px 5px;
    }

    .helper-text {
      margin-top: -10px;
    }
  }

  .field-checkbox {
    margin-left: 20px;
  }

  .cpg-button {
    margin: 20px 12.5em;
  }

  #code-display {
    display: flex;
    align-items: center;

    > div {
      margin-left: 10px;
    }
  }

  .cpg-tag {
    background-color: $orange;
    color: $white;
    font-size: 0.5em;
    padding: 1px 3px;
    border-radius: 3px;
    font-weight: bold;
    margin-left: 5px;

    &.cpg-tag-complete {
      background-color: $blue;
    }
  }

  .cpg-percentage {
    height: 20px;
    margin-bottom: 5px;
    background-color: $gray-blue;
    color: $white;
    border-radius: 20px;
    width: 100%;
    font-size: 14px;
    font-weight: 600;

    &-complete {
      background-color: $blue;
      border-radius: 20px;
    }

    &-label {
      padding: 0 8px;
      text-align: right;

      &.zero {
        color: $blue;
      }
    }
  }

  .date-range-group {
    display: flex;
    justify-content: space-between;

    .date-range-to {
      margin: 10px 20px;
    }
  }

  .grouped-fields {
    .field-group-container {
      background-color: $gray-blue;
      margin-bottom: 10px;
      padding-top: 4em;
    }
  }
}
