.artifact {
  &-wrapper { @include componentWidth; }

  padding: $global-padding;

  &-form__inputs {
    margin: 20px 0 40px;

    button {
      margin: 0.5rem 0;
      width: 7.5em;
      padding: 0.4em 0.75em !important;
    }
  }
}

.artifacts__table {
  @include responsive-table;

  width: 100%;
  margin: 1em 0;

  th {
    padding-bottom: 0.5em;
  }

  td {
    padding: 0.25em;
  }

  tr:first-of-type td {
    padding-top: 0.5em;
  }

  td:last-of-type {
    text-align: right;
  }
}

.artifacts__tablecell-wide {
  width: 24em;

  .edit-artifact-button {
    margin-right: 1em;
  }
}

.artifacts__tablecell-short {
  width: 6em;
}

.artifact-info {
  font-size: 0.9em;
  color: $gray;
}
