.footer {
  position: relative;
  padding-top: 0;
  font-family: 'CartoGothicStdBook';
  font-weight: bold;
  font-size: 13.44px;

  // ----------------------- FOOTER-TOP ------------------------------------ //
  &__top {
    @include fullBleed($footer-background-gradient-1);

    background: $footer-background-gradient-1;
    color: $white;
    padding-top: 0;
    padding-bottom: 0;

    &-wrapper {
      @include componentWidth;

      min-height: 390px;
    }

    &-ahrq,
    &-contact {
      background: $footer-background-gradient-1;
      padding: 0 30px;
    }

    &-cds {
      background: linear-gradient(to bottom, $footer-background 0%, $footer-background-light 100%);
      border-left: 1px solid $footer-background;
      border-right: 1px solid $footer-background;
      // min-height: 390px;

      li {
        width: 50%;
        float: left;
      }
    }

    &-contact {
      padding: 15px;

      &-hhs,
      &-ahrq {
        padding: 20px 10px;
        font-weight: normal;
        line-height: 20px;
        -webkit-font-smoothing: auto;
      }

      &-hhs { border-bottom: 1px solid $footer-background; }

      &-ahrq {
        border-top: 1px solid $footer-background-light;
        font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
        font-size: 14px;
      }

      a {
        text-decoration: none;
        color: $white;
        &:hover { text-decoration: underline; }
      }
    }

    nav {
      flex-direction: column;

      ul {
        padding: 0;

        li {
          list-style: none;
          padding: 3.5px 0;
        }
      }

      a {
        text-decoration: none;
        color: $white;
        &:hover { text-decoration: underline; }
      }

      .link-header {
        font-family: 'Code-Pro-LC', sans-serif;
        margin: 20px 0 10px;
        text-transform: uppercase;
        font-size: 16px;
        line-height: 18px;
        img { padding-right: 5px; }
      }
    }
  }

  // ----------------------- FOOTER-BOTTOM --------------------------------- //
  &__bottom {
    &-wrapper { @include componentWidth; }

    background: $ahrq-color-background-light;
    padding: 20px 0 6px;
    border-top: 1px solid $white;

    &-sitelinks {
      font-family: Arial, sans-serif;
      font-size: 13.44px;
      font-weight: normal;
      line-height: 19.2px;
      -webkit-font-smoothing: auto;

      &-ahrq {
        @include respond-to(mobile) {
          text-align: center;
          margin-bottom: 10px;
        }
      }

      &-links {
        ul {
          max-width: 600px;
          list-style: none;
          -webkit-padding-start: 55px;

          li {
            display: list-item;
            float: left;
            margin: 0 15px 5px 0;
            width: auto;

            a {
              color: $footer-links;
              text-decoration: none;
            }
          }
        }
      }

      &-social {
        .social-title {
          text-transform: uppercase;
          color: $gray-dark;
          font: 18px 'Code-Pro', sans-serif;
          float: left;
          padding-right: 4px;
          text-align: right;
        }

        .at-icon-wrapper {
          line-height: 32px;
          height: 32px;
          width: 32px;
          &.facebook { background-color: rgb(59, 89, 152); }
          &.twitter { background-color: rgb(29, 161, 242); }
          &.youtube { background-color: rgb(205, 32, 31); }
          &.linkedin { background-color: rgb(0, 119, 181); }
        }

        .at-icon {
          width: 32px;
          height: 32px;
        }

        a.at-follow-btn {
          padding: 2px 5px;
        }
      }
    }
  }
}
