.header {
  padding: 0;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  -webkit-font-smoothing: auto;
  a { text-decoration: none; }

  //------------------------ HHS Banner -------------------------------------//
  &__hhsbanner {
    &-wrapper {
      @include componentWidth;
    }

    background: $ahrq-color-background-light-gradient;
    padding: 8px 0 7px;

    @include respond-to('mobile') { padding: 10px; }
  }

  &__hhsbannerlink {
    padding: 0;
    white-space: nowrap;

    img {
      vertical-align: middle;
    }

    @include respond-to('mobile') { text-align: center; }
  }

  &__hhstext {
    color: $ahrq-color-text;
    padding-left: 9px;
    white-space: nowrap;
  }

  //------------------------ AHRQ Banner ------------------------------------//
  &__ahrqbanner {
    &-wrapper { @include componentWidth; }
    img { max-width: 100%; }

    @include respond-to('mobile') {
      text-align: center;
      padding: 5px 10px;
    }
  }

  //------------------------ Links ------------------------------------------//
  &__links {
    margin-top: 3px;
    padding-right: 0;
    white-space: nowrap;
    text-align: right;
    img { vertical-align: middle; }

    @include respond-to('tablet') { text-align: left; }

    @include respond-to('mobile') {
      padding: 0;
      text-align: center;
    }

    span {
      padding: 0 11px;

      @include respond-to('mobile') { padding: 5px; }
    }

    a {
      color: $ahrq-color-purple;
      padding: 5px 0;

      @include respond-to('500px') { font-size: 0.8em; }
    }
  }

  //------------------------ Header Stripe ----------------------------------//
  &__stripe-container {
    display: block;
    width: 100%;
  }

  &__stripe {
    width: 20.5%;
    position: relative;
    overflow: hidden;
    height: 15px;
    float: left;

    &::before {
      content: '';
      position: absolute;
      left: 51%;
      width: 100%;
      height: 200%;
      top: 0;
      transform: rotate(150deg);
    }

    &--purple {
      background-color: $ahrq-color-purple;
      &::before { background-color: $ahrq-color-light-blue; }
    }

    &--light-blue {
      background-color: $ahrq-color-light-blue;
      &::before { background-color: $ahrq-color-orange; }
    }

    &--orange {
      background-color: $ahrq-color-orange;
      &::before { background-color: $ahrq-color-green; }
    }

    &--green {
      background-color: $ahrq-color-green;
      &::before { background-color: $ahrq-color-dark-blue; }
    }

    &--dark-blue {
      background-color: $ahrq-color-dark-blue;
      width: 18%;
    }
  }

  //------------------------ CDS Banner -------------------------------------//
  &__cdsbanner {
    background: $ahrq-color-dark-gradient;

    &-wrapper { @include componentWidth; }

    &-text {
      padding: 20px 10px;
      white-space: nowrap;

      @include respond-to('670px') { text-align: center; }

      a {
        color: $white;

        .text-top {
          font-size: 16px;
          text-transform: uppercase;
          letter-spacing: 1px;

          @include respond-to('670px') { font-size: 1em; }
        }

        .text-bottom {
          font-size: 38px;
          font-weight: bold;

          @include respond-to('670px') { font-size: 1.4em; }
        }
      }
    }

    &-auth {
      display: flex;
      justify-content: flex-end;
      padding: 0;
      margin-top: 5px;
      button { margin: 0; }

      @include respond-to(mobile) {
        order: -1;
        margin-bottom: -25px;
      }

      .cds-home-link {
        margin-right: 20px;
        padding: 10px 15px;
        color: $white;

        .fa {
          margin-right: 5px;
          font-size: 0.8em;
        }

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}
