.navbar {
  background-color: $navbar-bg-color;
  padding: 0;
  margin-top: -1px;

  // ----------------------- MAIN NAVIGATION ------------------------------- //
  &__wrapper {
    display: block;

    @include componentWidth;

    ul {
      padding: 0;

      li {
        display: block;
        margin-right: 15px;
        position: relative;
        float: left;
        padding-bottom: 10px;

        @include respond-to('670px') {
          width: 100%;
          text-align: center;
        }
      }

      a {
        position: relative;
        display: block;
        font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
        line-height: 20px;
        color: $navbar-link-color;
        border-radius: 5px;
        padding: 10px;
        -webkit-font-smoothing: auto;
        &:hover { text-decoration: none; }

        &:hover,
        &.active {
          background-color: $navbar-link-active-color;
        }
      }
    }
  }
}
