.userguide {
  &-wrapper {
    @include componentWidth;
  }
  
  &-guide {
    width: 75%;

    @include respond-to(mobile) { width: 100%; }
  }

  &.is-position-relative {
    position: relative;
  }

  padding: $global-padding;

  .h2-wrapper {
    border-top: 1px solid $gray-lighter;
    margin-top: 30px;
    padding-top: 30px;
  }

  .h3-wrapper {
    border-left: 3px solid $gray-lighter;
    padding-left: 20px;
  }

  .h4-wrapper {
    border-left: 3px solid $ahrq-color-dark-blue;
    padding-left: 20px;
  }
  
  .userguide-toc {
    position: absolute;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 8px;
    width: 25%;
    right: 10px;

    @include respond-to(mobile) { display: none; }

    .is-active-link::before {
      background-color: $ahrq-color-dark-blue;
    }

    &.is-position-fixed {
      padding-top: 30px;
    }

    &.is-position-fixed.at-bottom {
      position: absolute !important;
      top: auto;
      bottom: 30px;
    }
  }
}
