.select-patient-checkbox:not(.checked) {
  color: white;
  border: 1px solid $blue;
  height: 17.5px;
  width: 17.5px;
  border-radius: 2px;
}

.patient-data-section {
  &__header {
    &:hover,
    &:focus {
      background-color: darken($gray-blue, 5%);
    }
  }

  &__table {
    tbody tr {
      &:hover,
      &:focus {
        background-color: darken($gray-blue, 5%);
      }

      &:first-of-type td {
        padding-top: 2px;
      }
    }

    tbody td {
      border: 0;
      padding: 2px 15px;
      vertical-align: middle;
    }
  }
}
