.patient-data-section,
.results-data-section {
  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    padding-left: 15px;
    width: 100%;
    margin: 5px 0;

    .header-title {
      color: $blue-light;
      text-transform: uppercase;
      margin-right: 10px;
      font-size: 0.9em;
      font-weight: bold;
      white-space: nowrap;
    }

    .header-divider {
      width: 100%;
      border-bottom: 2px solid $blue-light;
    }
  }

  &__table {
    tr th {
      border-top: 0;
      padding-top: 0;
    }

    tbody tr:hover {
      background-color: $gray-lightest;
    }

    td {
      font-size: 0.8em;
      padding: 5px 15px;
    }
  }

  #results-data-section-header {
    background-color: darken($gray-blue, 10%);
  }
}

div.results-data-section {
  background-color: $gray-blue;
  margin: 10px 0;
}
