.testing {
  &-wrapper { @include componentWidth; }

  padding: $global-padding;

  &-form__inputs {
    margin: 20px 0 40px;

    button {
      margin: 0.5rem 0;
      width: 7.5em;
      padding: 0.4em 0.75em !important;
    }
  }

  .execution-message {
    margin: 2em 0;
    display: block;
    text-align: center;
    font-style: italic;
  }

  .execution-loading {
    text-align: center;
    margin: 40px 0;
  }
}

.patient-table {
  margin-top: 40px;

  &__buttons {
    display: flex;
    align-items: center;

    button {
      margin-right: 20px;
    }
  }

  &__title {
    text-align: center;
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 40px;
  }

  &__meta {
    display: flex;
    margin-bottom: 10px;

    .meta-label {
      display: inline-block;
      font-weight: bold;
      min-width: 300px;
    }
  }

  .boolean-check { color: $green; }
  .boolean-x { color: $red; }
}

.patients__table {
  @include responsive-table;

  width: 100%;
  margin: 1em 0;

  th {
    padding-bottom: 0.5em;
  }

  td,
  th {
    padding: 0.25em;
  }

  tr:first-of-type td {
    padding-top: 0.5em;
  }

  td:last-of-type {
    text-align: right;
  }

  .vsac-authenticate {
    display: flex;
    justify-content: flex-end;
    margin: 0;
  }
}

.patients__tablecell-wide {
  width: 10em;

  .edit-patient-button {
    margin-right: 1em;
  }
}

.patients__tablecell-short {
  width: 6em;
}

tbody td.patients__tablecell-tiny {
  padding-right: 0;
}

.patient-info {
  font-size: 0.9em;
  color: $gray;
}

.select-label {
  margin-bottom: 5px;
}
