.cds-footer {
  @include fullBleed($footer-background-gradient-1);

  color: $white;

  &__container {
    display: flex;
    justify-content: space-around;
    margin: 1em 4em;

    @include respond-to('mobile') { flex-direction: column; }
  }

  &__column {
    margin-right: 3em;
  }

  &__column:first-child {
    @include respond-to('mobile') { margin-bottom: 2em; }
  }

  &__header {
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 10px;
    white-space: nowrap;
  }

  &__tagline {
    font-size: 0.9em;
  }

  &__links {
    display: flex;
    font-size: 0.9em;
  }

  a {
    display: block;
    color: $white;
    box-sizing: border-box;
    margin-right: 40px;
    cursor: pointer;
    white-space: nowrap;
  }
}
