{
  "parserOptions": {
    "ecmaVersion": 2020
  },
  "rules": {
    "comma-dangle": 0,
    "max-len": ["error", { "code": 120, "ignoreUrls": true , "ignoreTrailingComments": true, "ignoreRegExpLiterals": true }], // allow longer lines when there is a url or trailing comment
    "no-console": 0, // allow console.log statements
    "no-param-reassign": ["error", {"props": false}],
    "no-underscore-dangle": ["error", { "allow": ["_id"] }], // because mongo
    "no-unused-vars": [ "error", { "args": "none" } ], // don't check function arguments
    "no-use-before-define": ["error", "nofunc"],
    "no-plusplus": ["error", { "allowForLoopAfterthoughts": true }] // allow ++ in for loop expression
  },
  "env": {
    "es6": true,
    "node": true,
    "mocha": true
  },
  "extends": ["eslint:recommended"]
}
